In [ ]:
import pandas as pd

In [2]:
# Read data from file
df = pd.read_csv('adult.data.csv')

In [3]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [200]:
# What is the average age of men?
average_age_men = round(df['age'][df['sex'] == "Male"].mean(), 1)
print(average_age_men)

39.4

In [12]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [31]:
df['salary'].value_counts()

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [184]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(df['education'][df['education'] == 'Bachelors'].count() * 100 / df['education'].count(),1)
print(percentage_bachelors)

16.4

In [172]:
mask_education_higher = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')
mask_education_lower = (df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')

higher_education = len(df[mask_education_higher & (df['salary'] == '<=50K')])
lower_education = len(df[mask_education_lower & (df['salary'] == '<=50K')])
# percentage with salary >50K
higher_education_rich = (df[mask_education_higher & (df['salary'] == '>50K')].count() * 100 / df[mask_education_higher].count()).round(1)[0]
lower_education_rich = (df[mask_education_lower & (df['salary'] == '>50K')].count() * 100 / df[mask_education_lower].count()).round(1)[0]

print(higher_education_rich)
print(lower_education_rich)

46.5
17.4

C:\Users\turchiax\AppData\Local\Temp\ipykernel_6156\3967198683.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  higher_education_rich = (df[mask_education_higher & (df['salary'] == '>50K')].count() * 100 / df[mask_education_higher].count()).round(1)[0]
C:\Users\turchiax\AppData\Local\Temp\ipykernel_6156\3967198683.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lower_education_rich = (df[mask_education_lower & (df['salary'] == '>50K')].count() * 100 / df[mask_education_lower].count()).round(1)[0]

In [185]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

In [192]:
num_min_workers = len(df[(df['hours-per-week'] == min_work_hours)])
num_min_workers_rich = len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')])
print(num_min_workers)
print(num_min_workers_rich)

20
2

In [195]:
rich_percentage = num_min_workers_rich * 100 / num_min_workers
print(rich_percentage)

10.0

In [153]:
highest_earning = df[df['salary'] == '>50K']['native-country']
native_country_people = df['native-country']
# highest_earning.value_counts()
# print(native_country_people.value_counts())
(highest_earning.value_counts() * 100 / native_country_people.value_counts()).sort_values(ascending=False)
print(highest_earning.count())

7841

In [176]:
highest_earning_country = (highest_earning.value_counts() * 100 / native_country_people.value_counts()).sort_values(ascending=False).index[0]
highest_earning_country_percentage = (highest_earning.value_counts() * 100 / native_country_people.value_counts()).sort_values(ascending=False).round(1)[0]
print(highest_earning_country_percentage)

41.9

C:\Users\turchiax\AppData\Local\Temp\ipykernel_6156\2425277445.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  highest_earning_country_percentage = (highest_earning.value_counts() * 100 / native_country_people.value_counts()).sort_values(ascending=False).round(1)[0]

In [127]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().index[0]

'Prof-specialty'